body.bgf2f2f2{
	background:#f2f2f2
}
body.fullheight{
	overflow: hidden;
}
/**
 * iscroll
 * asdfasdfsdf
 */
.iscroll-wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.iscroll-scroller{
	position: relative;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.dc-tabwrap{
	height: 42px;
}
.dc-tabwrap-fixed .dc-tab1{
	position: fixed;
	left:0;
	width:100%;
	top:0;
	z-index: 10
}
.dc-tab1{
    display:-webkit-box;
    display:box;
    background: #fff;
    position: relative;
}
.dc-tab1 li{
    -webkit-box-flex:1;
    box-flex:1;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    padding-bottom: 1px;
    border-bottom:1px solid #e6e6e6;
}
.dc-tab1 li span{
	display: inline-block;
	padding-right: 20px;
	position: relative;
}
.dc-tab1 li span strong{
	position: absolute;
	top:12px;
	width: 14px;
	height: 14px;
	line-height: 14px;
	margin-left: 5px;
  	-webkit-transition: transform .2s ease-in;
  	transition: transform .2s  ease-in;
}
.dc-tab1 li span i{
	font-size: 14px;
}
.dc-tab1 li.oncurr{
	padding-bottom: 0;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 2px;
	border-style: solid;
}
.dc-tab1 li span strong.unfold{
  -webkit-transform:rotate(180deg);
  -webkit-transform-origin:50%;
  transform:rotate(180deg);
  transform-origin:50%;
  top:13px;
}
.dc-notice{
	
}
.dc-notice-txt{
	display: block;
	padding:6px 10px 6px 40px;
	position: relative;
	background: #fff9bf;
}
.dc-notice-img{
	display: block;
	position: relative;
}
.dc-notice-img img{
	max-width: 100%;
}
.dc-notice-img .close{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 15px;
	top:10px;
	text-align: center;
	background: #c40000;
	border-radius: 100%;
}
.dc-notice-img .close i{
	font-size: 12px;
	color:#fff !important;
}
.dc-notice .notice-icon-box{
	position: absolute;
	left:10px;
	top:6px;
	background: #c40000;
	height: 23px;
	width: 23px;
	overflow: hidden;
	line-height: 23px;
	text-align: center;
	border-radius: 5px;
}
.dc-notice .notice-icon{
	color: #fff !important;
	font-size:18px;
}
.dc-notice .arrow-icon{
	position: absolute;
	right:5px;
	top:2px;
	font-size: 32px;
	line-height: 32px;
	color: #c40000!important;
}
.dc-notice .notice-text{
	height: 23px;
	padding-right: 25px;	
	line-height: 23px;
	font-size: 12px;
	    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dc-pro{
	position:relative;
}

.dc-pro-lf{
	position: absolute;
	left:0;
	top:0;
	width:25%;
	background: #f2f2f2;
	height: 100%;
}
.dc-pro-lf-nav{

}
.dc-pro-lf-nav li{
	border-bottom: 1px solid #e6e6e6;
}
.dc-pro-lf-nav li.oncurr{
	background: #fff;
}
.dc-pro-lf-nav li a{
	display:block;
	padding:10px;
}
.dc-pro-rt{
	padding-left: 25%;
	width: 75%;
	height: 100%;
	overflow: hidden;
}

/**列表***/
.dc-pro-list{
	padding: 0 10px;
}
.dc-pro-list li{
	padding: 10px 0;
	border-bottom: 1px solid #e6e6e6;
	position: relative;
}
.dc-pro-list li.nodata{
	line-height: 100%;
	font-size: 14px;
	text-align: center;
	padding: 75px 0 0 0;
}
.dc-pro-list li:last-child{
	border-bottom: none;
}
.dc-pro-list li .up{
	position: relative;
	min-height: 80px;
}
.dc-pro-list li .pic{
	width: 80px;
	height: 80px;
	overflow: hidden;
	position:relative;
	float: left;
}
.dc-pro-list li .pic  img{
	cursor: pointer;
	max-width: 100%;
	max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}

.dc-pro-list li .desc{
	padding-left: 10px;
	overflow: hidden;
}
.dc-pro-list li .desc .tit{
	    display: -webkit-box;
	width: 100%;
	font-size: 15px;
	color:#333;
	margin-bottom: 7px;
	overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.dc-pro-list li .desc .promotion{
	background: #c40000;
	display: inline-block;
	color: #fff;
	border-radius: 3px;
	padding: 1px 3px;
	margin-bottom: 6px;
	max-width:100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.dc-pro-list li .sale-amount{
	color:#999;
}
.dc-pro-list li .price{
	padding: 5px 0 0;
	height: 20px;
	line-height: 20px;
}
.dc-pro-list li .price .present{
	color: #c40000;
    font-size: 18px;
    padding-right: 5px;
}
.dc-pro-list li .price .original{
	color: #999;
}
.dc-pro-list li .price .original b{
	text-decoration: line-through;
}

.dc-pro-list li .amount-hand{
	position: absolute;
	right: 0px;
	bottom: 5px;
	width: 100px;
}
.dc-pro-list li div[data-diadesc=true]{
	display: none;
}

.amount-hand-num{
	float: right;
	height: 32px;
	line-height: 32px;
	width: 20px;
	text-align: center;
}
.mycart-pro-list  .amount-hand-num{
	display: block;
}
.mycart-pro-list li.nodata{
	padding: 30px 0;
	text-align: center;
}
.mycart-pro-list .nodata{
	padding: 30px 0;
	font-size: 14px;
	text-align: center;
}
.amount-hand-btn{
	float: right;
	width: 32px;
	height: 32px;
	overflow: hidden;
	border-radius: 100%;
	text-align: center;
}
.amount-hand-btn.amount-add{
	background: url("../images/add.jpg");
	background-size: 100% 100%;
}
.amount-hand-btn.amount-reduce{
	background: url("../images/reduce.jpg");
	background-size: 100% 100%;
} 


.mycart-pro-list .amount-hand-btn{
	display: block;
} 
.amount-hand-btn i{
	height: 27px;
	line-height: 27px;
	display: block;
	vertical-align: middle;
}
/***点餐底部*/
.dc-bt-nav{
	height: 44px;
	position: fixed;
	left:0;
	bottom:0;
	width: 100%;
	border-top:1px solid #e6e6e6;
	padding: 0 0 0 10px;
	box-sizing: border-box;
	background: #fff;
	z-index: 101;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.dc-bt-nav-hide{
	bottom:-60px;
}
.dc-mycart{
	position: relative;
	float: left;
	top:-8px;
	cursor: pointer;
}
.dc-mycart .cart-icon{
	display: block;
	position: relative;
	width: 42px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	border-radius: 42px;
	background: #566c95;
}
.dc-mycart .cart-icon  i{
	color: #fff !important;
}
.dc-mycart .amount{
	width: 18px;
	height: 18px;
	border-radius: 100%;
	overflow: hidden;
	background: #c40000;
	position: absolute;
	top:-3px;
	right:0;
	text-align: center;
	color:#fff;
	display: none;
}
.dc-bt-nav .total{
	color: #c40000;
    font-size: 18px;
    padding-right: 5px;
    display:inline-block;
    line-height: 44px;
    padding-left: 10px;
}
.dc-bt-nav .hand{
	position: absolute;
	right: 0;
	top:-1px;
}
.dc-bt-nav .hand .no-fulfil{
	background: #999;
	padding:0 15px;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	color: #fff;
}
.dc-bt-nav  .hand .had-fulfil{
	padding:0 25px;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	display: block;
	color: #fff;
	border-radius: 0;
	border:none;
}

/***图片5:1的比例***/
.response-imgscale-5-1{ width: 100%; height: 0; padding-bottom: 20%; position: relative; }
.response-imgscale-5-1 span{
	position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; display: block; display: -webkit-box; -webkit-box-orient: horizontal; -webkit-box-pack: center; -webkit-box-align: center; display: -moz-box; -moz-box-orient: horizontal; -moz-box-pack: center; -moz-box-align: center; display: -o-box; -o-box-orient: horizontal; -o-box-pack: center; -o-box-align: center; display: -ms-box; -ms-box-orient: horizontal; -ms-box-pack: center; -ms-box-align: center; display: box; box-orient: horizontal; box-pack: center; box-align: center; 
}
.response-imgscale-5-1 span img{ width: 100%; height: 100%; display: block; vertical-align: top }

.dc-myorderfixed{
	position: fixed;
	right:20px;
	bottom:80px;
	width: 65px;
	height: 65px;
	border-radius: 100%;
	background: #c40000;
	z-index: 10;
	text-align: center;
	display: none;
}
.dc-myorderfixed i{
	color:#fff !important;
	font-size: 30px;
	line-height: 30px;
	display: block;
	margin-top:7px;
}
.dc-myorderfixed p{
	font-size: 12px;
	line-height: 20px;
	color: #fff;
}
/**************************************
 * 我的购物车
 */
.dc-mycartbox{
	position: fixed;
	left:0;
	top:0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	visibility: hidden;
}
.dc-mycartbox .mask{
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	display: block;
	opacity: 0;
}
.dc-mycartbox .mask-show{
	opacity: 1;
	-webkit-animation: maskfadeIn 0.3s ease-out;
  	animation-name: maskfadeIn 0.3s ease-out;
}
.mycart-detail{
	position: absolute;
	left: 0;
	bottom: -75%;
	width: 100%;
	z-index: 100;
	background: #fff;
	padding:42px 0 44px 0;
	box-sizing: border-box;
	max-height: 75%;
	overflow: hidden;
	visibility: hidden;
}
.mycart-detail-show{
	bottom:0;
	visibility: visible;
	-webkit-animation: cartSlideInUp 0.2s ease-out;
  	animation-name: cartSlideInUp 0.2s ease-out;
}
.mycart-detail .p-hd{
	background:#f2f2f2;
	height: 42px;
	line-height: 42px;
	font-size: 12px;
	padding: 0 10px;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	box-sizing: border-box;
}
.mycart-detail .p-bd{
	position: relative;
	height: 100%;
	overflow: hidden;

}
.mycart-detail .p-hd .tit{
	float: left;
	line-height: 42px;
}
.mycart-detail .p-hd .cleancart{
	float: right;
	cursor: pointer;
}
.mycart-detail .p-hd .cleancart i{
	vertical-align: middle;
	font-size: 20px;
	line-height: 17px;
	color: #999999 !important;
}
.mycart-pro-list{
	padding-bottom: 10px;
}
.mycart-pro-list li{
	height: 27px;
	line-height: 27px;
	padding:10px; 
	border-bottom:1px solid #e6e6e6;
}
.mycart-pro-list li:last-child{
	border-bottom: none
}
.mycart-pro-list li .name{
	color: #666666;
	font-size: 14px;
}
.mycart-pro-list li .hand{
	float: right;
}
.mycart-pro-list li .prize{
	float: right;
	padding-right: 10px;
	color: #c40000;
    font-size: 18px;
}
.mycart-pro-list li .prize b{
	letter-spacing: -5px;
}
@-webkit-keyframes cartSlideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes cartSlideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes maskfadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes maskfadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/*********************
 * 第二套模板
 */
.dcselectdown-mask{
	background-color: rgba(0,0,0,0.7);
	z-index: 102;
	opacity:1;
	left:0;
	top:0;
	width:100%;
	height:100%;
	position:fixed;
	-webkit-animation: maskfadeIn 0.2s ease-out;
  	animation-name: maskfadeIn 0.2s ease-out;
}

.dcseldown-list{
	padding: 0 10px;
}
.dcseldown-list li{
	border-bottom: 1px solid #e6e6e6;
}
.dcseldown-list li a{
	height:40px;
	line-height: 40px;
	display: block;
	padding: 0 5px;
	color: #666666;
	font-size: 14px;
}
.dcseldown-box{
	max-height: 70%;
	overflow: hidden;
	position: fixed;
	background:#fff;
	z-index: 105;
	width: 100%;
	top:42px;
	opacity: 0;
	visibility: hidden;
	z-index: 103;
}
.dcseldown-box.unfold{
	visibility: visible;
	opacity: 1;
}
.sort-tit-wrap{
	height: 35px;
}

.sort-tit{
	height:35px;
	line-height: 35px;
	overflow: hidden;
	background: #f2f2f2;
	padding: 0 10px;
	font-size: 14px;
	box-sizing: border-box;
	width: 100%;
}
.sort-pro-box{
	padding-bottom: 62px;
}

/**
 * 我的商家
 */
.dc-sellerbox{
	padding-bottom: 30px;
}
.seller-infor{
	background: url("../images/seller_infor_bg.jpg") no-repeat;
	background-size: 100% 100%;
	height:220px;
	padding-top: 15px;
	box-sizing: border-box;
	position: relative;
}
.shop-avatar{
	width: 80px;
	height: 80px;
	border-radius:100%;
	background:#fff;
	overflow: hidden;
	margin:0 auto;
}
.shop-avatar img{
	max-width: 100%;
}
.shop-name{
	margin-top: 15px;
	font-size: 15px;
	color: #fff;
	text-align: center;
}
.shop-runtime{
	font-size: 12px;
	color:#fff;
	text-align: center;
}
.shop-send{
	display: -webkit-box;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color:rgba(0,0,0,0.6);
    position:absolute;
    bottom: 0;
    padding:10px 0; 
}
.shop-send li{
	-webkit-box-flex: 1;
    box-flex: 1;
    text-align: center;
    color: #fff;
}
.shop-send li:last-child{
	border-left:1px solid #ffffff;
}
.shop-send li span{
	font-size: 20px;
	line-height: 18px;
}
.line10-bgf2f2f2{
	background:#f2f2f2;
	height: 10px;
}
.seller-items{
	padding:10px;
	background: #fff;
}
.seller-contact{
	position: relative;
	padding-right:45px;
	border-bottom: 1px solid #e6e6e6;
}
.seller-contact .address-icon{
	position: absolute;
	left:10px;
	top:50%;
	margin-top: -13px;
	font-size: 32px;
	margin-left: -5px;
	height: 24px;
	line-height: 24px;
}
.seller-contact .address{
	line-height: 18px;
	height: 36px;
	font-size: 14px;
	padding-left:35px;
	padding-right: 5px;
	display: inline-block;
	position:relative;
	width: 100%;
	box-sizing: border-box;
	text-align:left
}
.seller-contact .address strong{
	position: absolute;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.seller-contact .phone{
	position: absolute;
	right:0;
	top:10px;
	padding:0 10px;
	border-left:1px solid #e6e6e6;
}

.seller-payway{
	color:#333333;
	position: relative;
	height: 24px;
	line-height: 24px;
	padding-left: 45px;
	font-size: 14px;
	border-bottom:1px solid #e6e6e6;
	border-top:1px solid #e6e6e6;
	padding-top: 8px;
	padding-bottom: 8px;
}
.seller-payway i{
	position: absolute;
	left:10px;
	top:50%;
	height: 24px;
	line-height: 24px;
	margin-top: -14px;	
}
.seller-yhhd{
	color:#333333;
	border-bottom:1px solid #e6e6e6;
	border-top:1px solid #e6e6e6;
	font-size: 14px;
}
.seller-yhhd .dw-blk{
	padding-left: 35px;
}
.seller-yhhd .up{
	position: relative;
	padding-left: 35px;	
}
.seller-yhhd .up i{
	position: absolute;
	left:-2px;
	top:50%;
	font-size: 28px;
	margin-top: -22px;	
}

.seller-notice{
	font-size: 14px;
	color:#333333;
	border-bottom:1px solid #e6e6e6;
	border-top:1px solid #e6e6e6;
}
.seller-notice .dw-blk{
	padding-left: 35px;
}

.seller-notice .up{
	position: relative;
	padding-left: 35px;	
}
.seller-notice .up i{
	position: absolute;
	left:-2px;
	top:50%;
	font-size: 27px;
	margin-top: -22px;	
}

/**
 * 我的通知提示
 */
.dc-notice-box-wrap{
	display: none;
}
.dc-notice-box{
	color:#fff;
	
	z-index: 150;
}
.dc-notice-box .promotion{
	margin: 0 40px;
	padding: 20px 0;
	border-bottom: 1px solid #ffffff;
}
.dc-notice-box .promotion .items{
	font-size: 14px;
	padding: 5px 0;
}
.dc-notice-box .promotion .items span{
	float: left;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	text-align: center;
	background:#f3001d;
	border-radius: 5px;
	margin-right: 8px;
}
.dc-notice-box .promotion .items  p{

}
.dc-notice-box .tit{
	font-size: 16px;
	text-align: center;
	padding-top: 45px;
}
.dc-notice-box .desc{
	text-align: center;
	padding: 30px 40px;
	font-size: 14px;
}
.dc-notice-box .close{
	width: 40px;
	height: 40px;
	line-height: 38px;
	border:1px solid #fff;
	border-radius: 100%;
	position: absolute;
	bottom: 40px;
	left:50%;
	margin-left: -20px;
	text-align: center;
	z-index: 150;
	cursor: pointer;
}
.dc-notice-box .close i{
	color: #fff !important;
	font-size: 18px;
}

/**
 * 产品描述提示框
 */
.dc-pro-detail-dialog{
	color:#666;
	position: fixed;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	top:0;
	display: block;
	visibility: hidden;
	background-color:#fff;
}
.dc-pro-detaildia{
	position: relative;
	height: 100%;
	overflow-y:auto;
	overflow-x:hidden;
	padding-bottom: 20px;
	box-sizing: border-box;
}
.dc-pro-detaildia .list{
	padding: 8px 10px 5px 0;
}
.dc-pro-detaildia .list li{
	padding: 0
}
.dc-pro-detaildia .list li .unit{
	color: #999;
	font-size: 12px;
}
.dc-pro-detaildia .list li .btn{
	cursor: pointer;
}
.dc-pro-detaildia .close i{
	font-size: 32px;
	color:#999 !important;
}
.dc-pro-detaildia .close{
	position:absolute;
	top: 7px;
	right:5px;
	width: 32px;
	height: 32px;
	cursor: pointer;

}
.dc-pro-detaildia .tit{
	padding:10px 40px;
	text-align: center;
	font-size: 14px;
	border-bottom: 1px solid #fff;
}
.dc-pro-detaildia .pic {
	text-align: center;
	max-height: 310px;
	overflow: hidden;
}
.dc-pro-detaildia .pic img{
	max-width: 100%;
	max-height: 100%;
	vertical-align: top;
}
.dc-pro-detaildia .prize{
	padding: 5px 10px;
	color: #c40000;
    font-size: 18px;
    padding-right: 5px;
    font-family: "微软雅黑"
}
.dc-pro-detaildia .desc{
	padding: 0 10px 20px;
	max-height: 64px;
	overflow: scroll;
}
